* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_section {
  background-color: #00293b;
  text-align: center;
  color: white;
  margin: auto;
  font-size: 25px;
  height: 40vh;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 5px dashed black;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.submit {
  width: 11vw;
  padding: 5px;
}

guessing_value {
  padding: 20px;
}

.guess {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -35px;
  position: absolute;
  bottom: 0;
  padding: 30px;
  background-color: grey;
  border: 3px dashed black;
  text-align: center;
  height: 40px;
  color: black;
}
.bottom_section {
  display: flex;
}

.bottom_section_1st_half {
  background-color: rgb(206, 206, 206);
  height: 60vh;
  width: 50vw;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.bottom_section_2nd_half {
  background-color: gray;
  height: 60vh;
  width: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Welcome {
  background-color: #00293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.start_game {
  background-color: #00293b;
  color: white;
  align-items: center;
  padding: 20px;
  width: 50vw;
  border-radius: 20px;
}

.instruct {
  background-color: gray;
  padding: 80px;
  border: 5px solid black;
  font-size: 30px;
  margin: 40px;
}

.reset_sub {
  display: none;
}

.bottom_section_1st_half input {
  height: 5vh;
  align-items: center;
  background-color: #00293b;
  color: white;

  width: 15vw;
}
.bottom_section_1st_half button {
  height: 5vh;
  background-color: gray;

  width: 15vw;
}

.reset {
  width: 10vw;
}
.to_home {
  width: 10vw;
}

@media only screen and (max-width: 768px) {
  .bottom_section_1st_half input {
    height: 7vh;
    align-items: center;
    background-color: #00293b;
    color: white;
    width: 30vw;
  }
  .bottom_section_1st_half button {
    height: 7vh;
    background-color: gray;
    width: 30vw;
  }
  .submit {
    width: 20vw;
  }
  .bottom_section {
    flex-direction: column;
    height: 75vh;
  }
  .bottom_section_1st_half {
    width: 100vw;
  }
  .bottom_section_2nd_half {
    width: 100vw;
  }
  .reset {
    display: none;
  }
  .top_section {
    padding: 10px;
    height: 20vh;
    border: 0;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: space-between;
    position: static;
  }

  .guess {
    position: static;
    margin-bottom: 0px;
  }
  .to_home {
    height: 5vh;
    width: 50vw;
    background-color: silver;
    position: absolute;
    bottom: 0;
    right: 0.1%;
  }
  .reset_sub {
    height: 5vh;
    width: 50vw;
    background-color: silver;
    display: block;
  }
}
